nav{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
  border: 3px solid darkgray;
}
nav a{
  color: white;
  text-align: center;
  text-decoration: none;
}
nav a:hover{
  color: lightblue;
  background-color: black;
}
body{
  background-color: lightgray;
  font-family: fantasy, cursive, serif, sans-serif;
}
h1{
  text-align: center;
  margin: auto;
}
p{
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#image{
  display: block;
  margin: 0 auto;
  padding: 15px;
}
footer{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
  display: block;
  border: 3px solid darkgray;
}
footer a{
  text-align: center;
  text-decoration: none;
  color: white
}
footer a:hover{
  color: lightblue;
  background-color: black;
}
.footerbottom{
  margin-top: 42%;
}
table{
  border: 2px solid black;
  background-color: lightblue;
  padding: 10px 10px;
}
table a{
  text-decoration: none;
  color: white;
}
table a:hover{
  background-color: black;
  color: lightblue;
}
tr{
  display: table-row;
  border-color: inherit;
}
form{
  display: block;
  border: 2px solid darkgray;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
#emailto{
  border: 2px solid black;
  background-color: lightblue;
  margin-top: 25%;
  float: left;
}
